table {
    border: 0px solid black;
    border-spacing: 0px;
    border-collapse: unset;
    width: 100%;
 }

 th, tr {
    width: 20%;
    border: 2px solid black;
    border-spacing: 0px;
    background-color: rgba(240, 231, 112);
    border-collapse: unset;
    text-align: center;
 }