<table>
  <tr>
    <th *ngFor="let c of columns">{{c.value}}</th>
  </tr>
  <tr *ngFor="let ch of characters | async; let i = index"
      app-table-row 
      [character]="ch" 
      [columns]="columns"
      [index]="i">
  </tr>
</table>