td {
    border: 0.5px solid black;
    border-spacing: 0px;
    border-collapse: unset;
    color: #000;
    min-width: 100px;
    width: 20%;
    text-align: center;
 }

 input{
    width: 96%;
    height: 100%;
    background-color: bisque;
    margin-bottom: 5px;
}

 .row__even{
     background-color: pink;
 }

 .row__odd{
     background-color: rgb(131, 243, 247);
 }
 