<div class="main">
    <div class="top-button-container">
        <button (click)="closed.next()" class="button-close">&#x2716;</button>
    </div>

    <h1 class="main-title-text">Realizar Compra</h1>

    <h1 class="sub-title-text">Factura</h1>
    <input [(ngModel)]="factura">

    <table>
        <tr>
            <th *ngFor="let c of columns">{{c.value}}</th>
        </tr>
        <tr *ngFor="let ch of characters | async; let i = index" app-addProduct-row [character]="ch" [columns]="columns" [index]="i"
            [amount]="data[i]">
        </tr>
    </table>
    <div class="bottom-button-container">
        <button class="save-button" (click)="guardaCompra()">Guardar</button>
    </div>
</div>