:host {
    position: absolute;
    background: #000000bb;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid black;
  font-size: 24px;
}

.main {
    width: 50%;
    height: 70%;
    min-width: 300px;
    min-height: 200px;
    background-color: whitesmoke;
    border-radius: 2%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}

input{
    margin-left: 20px;
    width: 94%;
    margin-bottom: 20px;
}

table{
    margin-right: 20px;
    margin-left: 20px;
}

.top-button-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
  
.button-close {
    border-radius: 50%;
}

.main-title-text{
    font-size: 35px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.sub-title-text{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.save-button{
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
}

.bottom-button-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
