<div class="app-component">
  <div class="main-title-container">
    <h1 class="main-title-text">Hulk Store</h1>
    <div class="buttons-container">
      <button (click)="popup.showAsComponent()">Registrar Compra (+)</button>
      <button (click)="realizarVenta()">Realizar Venta (-)</button>
    </div>
  </div>
  <div class='table'>
    <app-table></app-table>
  </div>
</div>