.app-component{
    padding: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 250, 182);
    overflow-y: auto;
}

.main-title-text{
    font-size: 35px;
    font: normal;
    width: 40%;
}

.main-title-container{
    padding-top: 10px;
    background-color: rgb(134, 255, 130);
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.table{
    margin-right: 10px;
    margin-left: 10px;
    overflow-x: auto;
    min-height: 200px;
}

.buttons-container{
    width: 50%;
    min-height: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

button{
    width: 100%;
    max-width: 300px;
    background-color: white;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}