<td *ngFor="let col of columns" [ngClass]="{row__even: (index % 2 === 0), row__odd: (index % 2 === 1)}">
  {{character[col.name]}}
</td>
<button [ngClass]="{row__even: (index % 2 === 0), row__odd: (index % 2 === 1)}" (click)="verMovimientos()">Ver Movimientos</button>