td {
    border: 0.5px solid black;
    border-spacing: 0px;
    border-collapse: unset;
    color: #000;
    min-width: 100px;
 }

 button{
    border: 0.5px solid black;
    background-color: transparent;
    text-align: center;
    color: blue;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100px;
 }

 .row__even{
     background-color: pink;
 }

 .row__odd{
     background-color: rgb(131, 243, 247);
 }
 